<% include ../partials/header %>
<div class='main-container' ng-controller='indexController'>
	<div class="row">
		<div class="large-12 small-12 medium-12 centeredText">
			<img src="ui/img/icon.png" /> 
			<br/><br/>Welcome to Shamanic a new kind of MMORPG<br/><br/><br/>
			<appear-button type="button"/>
		</div>
	</div>
</div>
<% include ../partials/footer %>
