<% include ../../partials/header %>
<div class='main-container'>
	Thank you for joining <%=websiteName%>, a confirmation email will be sent to the email you've specified.<br/>
	<br/>We'll see you online!
</div>
<% include ../../partials/footer %>
