<% include ../../partials/header %>
<div class='main-container' ng-controller='userController'>
	<div class="row">
		<div class="six columns">
			<form class="custom" action="/user/create" method="post" enctype="application/x-www-form-urlencoded">
				<fieldset>
					<legend>Enter your information to play</legend>
					<input type="text" placeholder="Full name">
					<input type="text" name="email" placeholder="Email">
					<input type="text" name="username" placeholder="Choose User Name">
					<input type="password" name="password" placeholder="Choose Password">
					<input type="password" name="confirm" placeholder="Confirm Password">
				</fieldset>
				<div class="row">
					<div class="large-6 large-centered columns">
						<input type="submit" class="button expand" value="Join Us" />
					</div>
				</div>
			</form>
			<div class="row">
				<ul class="inline-list right">
					<li><a href="/user/login">Login</a></li>
					<li><a href="#">Forgot Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../../partials/footer %>