.main-container {
	padding:5px;
	padding-top: 50px;
	min-height: 700px;
}
#main-title-link {
	color: #FFFFFF;
}
a {
	color: #000000;
}
a:hover {
	color: #666666;
}
.button {
	background-color: #000000;
}
.button:hover {
	background-color: #555555;
}
.content {
  /*position:relative;*/
  height: 800px;
}
.controlPanel {
  border: 2px solid gold;
  overflow:auto;
  padding:10px;
}
.sigils{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 30px;
  border: 2px solid black;
}
.gallery-image{
  width: 200px;
  height: 200px;
}
svg {
  /*position:absolute;*/
  top:0;
  left:0;
  border: 2px solid gold;
}
canvas {
  position:absolute;
  z-index: 0;
}
/*d3-Map {

}*/
#svgAnchor {
  visibility: hidden;
  height:38px;
  left:10;
}
#gradient {
  /*position:absolute;*/
  top:0;
  left:0;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#getSigilButton{
  margin:auto;
  width: 10%;
  padding:10px;
  margin:2px;
  background-color: #000000;
  z-index:5;
  float:right;
}
#generateTerraCycleButton {
  margin:auto;
  width:10%;
  background-color: #000000;
  padding:10px;
  margin:2px;
  z-index:5;
  float:right;
}
#generateTerraCycleButton:hover{
  background-color: #555555;
}
#getSigilButton:hover {
  background-color: #555555;
}
#sigilGallery {
  position:absolute;
}
#terraCycle {
  position:absolute;
  margin:auto;
}