<% include ../partials/header %>
<div class='main-container' ng-controller='indexController'>
	<div class="row">
		<div class="large-12 small-12 medium-12 centeredText">
			<img src="ui/img/icon.png" />
			<br/><br/><b>Welcome to the Shamanic Network</b><br/>
			<br/><br/>putting the divine back into the world
			<br/><br/>through technology<br/>
			<appear-button type="button"/>
		</div>
	</div>
</div>
<% include ../partials/footer %>
