<% include ../../partials/header %>
<div class='main-container' ng-controller='statsController'>
  <h3>Locations
    <table id='locationsTable'>
      <tr ng-repeat="location in locations">
        <td ng-repeat="(key, value) in location">
          {{key}}: {{ value }}
        </td>
      </tr>
    </table>
  </h3>
</div>
<% include ../../partials/footer %>