<% include ../partials/header %>
<div class='main-container' ng-controller='gameController'>
	Game plays here
	<p>{{objects.one}}</p>
	<p>{{objects.two}}</p>
	<div class='sigils'>
		<img ng-src='{{image.url}}'
			ng-repeat='image in images'
			ng-click='openSigilPage(index)'
			ng-show='nowShowing==$index' />
	</div>
	<div sigil-Gallery="" images="imageList"></div>
</div>
<% include ../partials/footer %>