<% include ../partials/header %>
<div class='main-container' ng-controller='indexController'>
	<img src="images/icon.png" /> 
	<br/><br/>Welcome to Shamanic a new kind of MMORPG
</div>
<% include ../partials/footer %>