					<footer class="row">
						<div class="large-12 columns">
							<hr />
							<div class="row">
								<div class="large-6 columns">
									<p>&copy; <%=websiteName%></p>
								</div>
								<div class="large-6 columns">
									<ul class="inline-list right">
										<li><a href="/user/signup">Signup</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="#">How to Play</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
                </div>
            </section>
            <a class="exit-off-canvas"></a>
        </div>
    </div>
</body>
</html>